.Contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 36px;
  margin: 25px 20%;
}

.Contact div {
  margin: auto 0;
}

.Email {
  text-decoration: none;
  color: #737373;
}
