.Home {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  margin: auto;
  height: calc(100% - 76px);
  width: 100%;
}

.HomeContainer {
  display: grid;
  grid-template-rows: 30% 20% 50%;
  place-items: center;
  height: 100%;
  width: 100%;
  background-color: #003459;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  clip-path: inset(0px -15px 0px 0px);
}

.Login {
  display: grid;
  grid-template-rows: 30% 20% 50%;
  place-items: center;
  height: 100%;
  width: 100%;
}

.LoginButton {
  border: 1px solid #fca311;
  min-height: 23px;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  text-decoration: none;
  color: #fca311;
  text-align: center;
  transition: 0.8s;
  overflow: hidden;
  position: absolute;
  letter-spacing: 2px;
  text-transform: uppercase;
  left: 0;
  right: 0;
  margin: auto;
}

.LoginButtonDiv {
  position: relative;
  height: 50px;
  width: 200px;
}

.LoginButton:hover {
  color: #003459;
}

.LoginButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  border-radius: 0 0 50% 50%;
  background: #fca311;
  z-index: -1;
  transition: 0.8s;
}

.LoginButton:hover::before {
  height: 200%;
}

#secondVariantButton {
  color: #fff;
}

#secondVariantButton:hover {
  color: #fca311;
}

#secondVariantButton::before {
  height: 200%;
}

#secondVariantButton:hover::before {
  height: 0%;
}

.Writing {
  margin: 100px 0 0 0;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}

.nspLogo {
  width: 300px;
  height: 50px;
}

.InfoNSP {
  text-align: center;
  margin: 0 40px;
  line-height: 175%;
  border: 1px solid #fca311;
  padding: 17px;
  border-radius: 5px;
}
