.LoginContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100% - 76px);
  flex-direction: column;
  margin: auto;
  margin-top: 350px;
  }

.Label {
  width: 80%;
  font-size: large;
  display: flex;
  flex-direction: column;
  text-indent: 2px;
  font-size: x-large;
}

.LoginBox {
  width: 95%; 
  font-size: x-large;
  margin: 10px auto;
}

.LoginBox::placeholder {
  opacity: 0.4;
}

.LoginBoxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Error {
  color: red;
}