.Navbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  box-shadow: 0 4px 2px -2px gray;
}

.NavbarButton {
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.NavbarButton:hover {
  color: #14213d;
  border-bottom: 3px solid #14213d;
  background-color: #f0f0f0;
}
